<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="my-info">
                <h4>
                    Data Visualisation | FIT5147<br/>
                    <small class="text-muted">An interactive visualisation for exploring movies through their<br/>genres and the eras in which they were released.<br/> The size of each bubble represents the number of movies contained within.</small>
                </h4>

            </div>
            <div id='fsvgcont' class="col-md-12">
                <svg id="mainsvg"></svg>
            </div>
        </div>
        <div class="row">
            <div id='othersvg' class="col-md-12">
                <svg id="othsvg"></svg>
            </div>
        </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>