body{
    background-color:#0a2930;
}
svg{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.row{
    width: 100%;
}

line.link {
    fill: none;
    stroke: grey;
    stroke-width: 1.5px;
  }