body{
    background-color:#0a2930;
}
svg{
    width: 100%;
    height: 100%;
}

.row{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

line.link {
    fill: none;
    stroke: grey;
    stroke-width: 1.5px;
  }
div.my-info{
    color: rgba(255, 255, 255, 0.25);
    font-size: 50pt;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

circle.node, text.t-node{
  cursor: pointer;
}

.tooltip {
  position: absolute;
  width: auto;
  height: auto;
  pointer-events: none;
}

#othersvg{
    background-color: whitesmoke;
}

#othsvg{
    width: 100%;
    background-color: whitesmoke;
}
