body{
    background-color:#0a2930;
}
svg{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.row{
    width: 100%;
    height: 90%
}

line.link {
    fill: none;
    stroke: grey;
    stroke-width: 1.5px;
  }

  
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

#othsvg{
    background-color: whitesmoke;
}